@import url(./reset.css);



:root {
    --pam-color3: #FFDB80;
    --pam-color6: #FFF;
    --pam_color1: #6D31D0;
    --pam_color4: #FDBFA3;
    --yelow-40:#FFEB80;
    --pam_color2: #828CDE;
    --block : #434364;
}

