.main-card{
    display: flex;
width: 144px;
height: 180px;
padding: 10px 10px 0px 10px;
flex-direction: column;
align-items: center;
gap: 10px;
border-radius: 12px;
}


.main-text{
    display: flex;
width: 143px;
height: 22px;
padding: 0px 8px 8px 8px;
flex-direction: column;
align-items: flex-start;
gap: 4px;
flex-shrink: 0;
}